



.education__container {
    max-width: 1240px;
    margin: auto;
}

@media (max-width: 992px) {
    .education__container {
        max-width: 752px;

    }
}

@media (max-width: 768px) {
    .education__container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .education__container {
        max-width: 540px;
    }
}

.header {
    min-height: 90vh;
    padding: 96px 0 124px;
    background: #f6f6f8;
}

.header__container {
    display: flex;
}

.header__left {
    max-width: 720px;
    padding-top: 60px;
}

.header__sub {
    font-size: 15px;
    font-weight: 500;
    color: #e5322d;
    letter-spacing: .3px;
    line-height: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
}

.header__title {
    font-size: 42px;
    font-weight: 600;
    color: #383e45;
    line-height: 46px;
    max-width: 800px;

    margin-bottom: 12px;
}

.header__text {
    font-size: 22px;
    font-weight: 400;
    color: #383e45;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 32px;
}

.header__sup {
    font-size: 22px;
    font-weight: 700;
    color: #383e45;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 32px;
}

.header__btn {
    min-width: 200px;
    padding: 10px 24px 14px;
    text-shadow: none;
    border: none;
    text-decoration: none;
    border-radius: 4px;

    display: inline-flex;
    justify-content: center;
    margin-top: 48px;
    align-items: center;
    text-align: center;

    transition: all .2s linear;
    -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 14%);
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 14%);
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    color: #fff;
    background-color: #e5322d;
}

.header__btn:hover {
    background-color: #161616;
}

.header__right img {


    width: 100%;
    height: 80vh;
}
@media (max-width: 840px){
    
.header__left {
    max-width: 720px;
    padding-top: 60px;
}

.header__sub {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
}

.header__title {
    font-size: 34px;
    line-height: 42px;
}

.header__text {
    font-size: 16px;
    line-height: 20px;
}

.header__sup {
    font-size: 16px;
    line-height: 20px;
}

.header__right img {


    width: 100%;
    height: 80vh;
}
}

.workflow {
    background: #fff;
     height: 100vh;
    padding: 96px 0px 124px;
    text-align: center;
}

.workflow__title {
    font-size: 32px;
    letter-spacing: 0;
    font-weight: 550;
    color: #383e45;
    margin-bottom: 8px;
    line-height: 40px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.workflow__text {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 32px;
    max-width: 800px;
    margin: 0 auto;
}

.workflow__text:hover {
    color: #383e45;
}

.card__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 64px 0px;
}

.card {
    max-width: 300px;
}

.card__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    color: #383e45;
    margin-bottom: 12px;
    margin-top: 24px;
}

.card__text {
    letter-spacing: 0.3px;
    font-size: 15px;
    line-height: 24px;
}

.workflow__img {
    width: 100%;
}

@media (max-width: 840px) {
    .workflow__title {
        font-size: 28px;
        line-height: 38px;
    }

    .workflow__text {

        font-size: 16px;
        line-height: 20px;

    }
}

@media (max-width: 740px) {
    .card__wrapper {
        display: block;
    }

    .card {
        padding: 30px 0px 0px;
        max-width: 300px;
        margin: 0 auto;

    }
}



.feature {
    background: #fff;
    min-height: 100vh;
    padding: 96px 0px 124px;
    text-align: center;
}

.feature__card__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.feature__card {
    display: flex;
    width: 50%;
}

.feature__card__img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
}

.feature__card__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #383e45;
    margin-bottom: 12px;
}

.feature__card__text {
    font-size: 15px;
    line-height: 24px;
    margin-top: 12px;
    text-align: left;
    margin-bottom: 24px;
}

@media (max-width: 840px) {

    .feature {
        padding: 48px 0 64px;
    }

    .feature__card__wrapper {
        display: block;


    }

    .feature__card {
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
    }

    .feature__card__img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        display: inline-block;
    }

    .feature__card__title {
        font-size: 16px;
        line-height: 24px;
    }

    .feature__card__text {
        letter-spacing: .3px;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 12px;
    }
}

.students {
    padding: 96px 0;
    background: url("https://www.ilovepdf.com/img/bg/red-pattern.png");
}

.student {
    display: flex;
    justify-content: space-between;
}

.students__left__title {
    color: #f3f0ec;
    font-size: 32px;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 40px;
    max-width: 700px;
}

.students__left__text {
    max-width: 700px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 32px;
    color: #f3f0ec;
}

.students__left__button {
    min-width: 200px;
    padding: 10px 24px 14px;
    text-shadow: none;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 44px;
}

.students__right__title {
    font-size: 32px;
    font-weight: 600;
    color: #383e45;
    margin-bottom: 8px;
    line-height: 40px;
    max-width: 800px;
    color: #f3f0ec;
}

.students__right__text {
    color: #f3f0ec;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 32px;
    max-width: 380px;
}

.students__right__button {
    font-size: 22px;
    color: #f3f0ec;

    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 8px;
    line-height: 32px;
    text-decoration: none;
    margin-top: 14px;
}
@media (max-width: 768px){
    .student {
        display: block;
        margin: 0 auto;
    }
    
    .students__left__title {
        font-size: 28px;
    line-height: 38px;
    }
    
    .students__left__text {
        font-size: 16px;
        line-height: 20px;
    }
    
    
    .students__right__title {
        font-size: 28px;
        line-height: 38px;
    }
    
    .students__right__text {
        font-size: 16px;
        line-height: 20px;
    }
    
    
}


.next {
    padding: 96px 0;
    text-align: center;
}

.next__img {
    width: 48px;
    margin-bottom: 24px;
}

.next__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 12px;
    letter-spacing: 0;
    color: #626870;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

element.style {
    color: #626870;
}
@media (max-width: 840px){
    .next__title {
        font-size: 20px;
        line-height: 26px;
    }
}
