:root {
  --bgColor-one: #626870;
  --bgColor-two: #fde4df;
  --bgColor-three: #ffedc2;
  --font: "raleway", sans-serif, "Open Sans", Arial;
  --color-one: #e5322d;
  --bgColor: #f3f0ec;
  --text-color: #383e45;
  --text-color-one: #161616;
}
* {
  box-sizing: border-box;
}
.container-one,
.container-two,
.container-three,
.container-four,
.container-five,
.container-six {
  font-family: var(--font);
  padding: 124px 75px;
}
.container-one {
  height: 100%;
  background-color: var(--bgColor);
}
.container-one h1 {
  /* width: 800px; */
  width: 60%;
  height: 46px;
  text-align: center;
  margin: 0 20%;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: normal;
  color: var(--text-color);
}
.container-one .btn {
  width: 60%;
  height: 108px;
  margin: 0 20%;;
}
.container-one .btn .btn-one {
  width: 291px;
  /* width: 40%; */
  height: 48px;
  transition: 0.3s;
  margin: 48px 0 12px 20%;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  background-color: var(--color-one);
  color: white;
  border: none;
  border-radius: 4px;
}
.container-one .btn .btn-two {
  width: 48px;
  height: 48px;
  transform: translateX(-5px) translateY(1px);
  background-color: var(--color-one);
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 22px;
}
.btn-toggle {
  position: absolute;
  background-color: #e5322d;
  list-style: none;
  /* padding: 10px; */
  border-radius: 4px;
  color: white;
  width: 235px;
  transform: translateX(83%) translateY(-10px);
  height: 135px;
}
.btn-toggle li {
  height: 45px;
  font-family: var(--font);
  font-size: 18px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  align-items: center;
}
.btn-toggle li:hover,
.container-one .btn .btn-one:hover {
  border-radius: 6px;
  background-color: #161616;
}
.container-one .parag {
  width: 60%;
  color: var(--text-color);
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  margin: 12px 20% 64px 20%;
}
.container-one .parag a {
  margin-left: 5px;
  color: var(--color-one);
  text-decoration: none;
}
.container-one .image {
  width: 100%;
  margin: 0 16px 72px 16px;
}
.container-one .image img{
  width: 100%;
  /* height: 830px; */
}
.container-one .h3 {
  width: 60%;
  height: 40px;
  text-align: center;
  margin: 72px 20% 0 20%;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  color: var(--text-color);
}
.container-one .parag-one {
  width: 60%;
  /* height: 96px; */
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: normal;
  margin: 40px 20% 132px 20%;
  color: var(--text-color);
}
.container-two {
  height: 100%;
  margin-bottom: 17%;
}
.container-two .h3 {
  width: 60%;
  height: 40px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  margin: 0 20% 64px 20%;
  color: var(--text-color);
}
.container-two .grid {
  display: grid;
  grid-template-columns: 23% 23% 23%;
  grid-column-gap: 18%;
  width: 100%;
  height: 222px;
  margin: 64px 2% 0 0;
}
.container-two .grid div {
  width: 80%;
  height: 222px;
  /* background-color: #e5322d; */
}
.container-two .grid div img {
  margin: 18px 23%;
}
.container-two .grid div h5 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: normal;
  width: 70%;
  height: 30px;
  text-align: center;
  margin: 24px 0 60px 0;
}
.container-two .grid div p {
  width: 100%;
  height: 96px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
.container-three {
  display: grid;
  height: 100%;
  grid-template-columns: 45% 45%;
  grid-column-gap: 15%;
}
.container-three .parag {
  margin: 105px 0 104px 0;
}
.container-three .parag p {
  font-size: 32px;
  color: var(--text-color);
  line-height: 40px;
  letter-spacing: normal;
  text-align: start;
  font-weight: 600;
  margin: 0 16px 0 16px;
}
.container-three .parag button {
  width: 60%;
  height: 15%;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  background-color: var(--color-one);
  border: none;
  border-radius: 4px;
  color: white;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 6px 0px;
  margin: 40px 355px 0 16px;
}
.container-three .parag button:hover {
  background-color: #161616;
  
}
.container-three div:nth-child(2) img{
  width: 90%;
  margin-top: 10%;
}
.container-four {
  height: 100%;
  background-color: var(--bgColor);
}
.container-four .h3 {
  width: 60%;
  height: 40px;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: normal;
  text-align: center;
  margin: 0 20% 64px 20%;
  color: var(--text-color);
}
.container-four .grid {
  display: grid;
  padding: 0 22px 44px 22px;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
  grid-row-gap: 32px;
}

.container-four .grid div h3 {
  margin: 12px 0 12px 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  letter-spacing: normal;
  color: var(--text-color);
}
.container-four .grid div h3 i {
  transform: translateX(-3px);
  color: rgb(68, 186, 50);
  font-size: 25px;
}
.container-four .grid div p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin: 12px 0 32px 65px;
}
.container-five {
  height: 100%;
}
.container-five h3 {
  width: 60%;
  height: 40px;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  margin: 0 20%;
  color: var(--text-color);
}
.container-five .main {
  width: 60%;
  height: 40px;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: normal;
  color: var(--text-color);
  margin: 8px 20% 64px 20%;
}
.container-five .grid {
  display: grid;
  grid-template-columns: 62% 62%;
  height: 560px;
  grid-column-gap: 10%;
  width: 60%;
  margin: 64px 0 0 10%;
}
.container-five .grid .grid-one,
.container-five .grid .grid-two {
  border-radius: 6px;
  box-shadow: rgba(69, 65, 78, 0.08) 0px 1px 15px 1px;
}
.container-five .grid div .parag {
  width: 80%;
  height: 30px;
  margin: 12px 10%;
  text-align: center;
  font-size: 100%;
  line-height: 30px;
  letter-spacing: normal;
  color: var(--bgColor-one);
  font-weight: 600;
}
.container-five .grid div hr {
  opacity: 0.3;
}
.container-five .grid div .parag-one {
  width: 80%;
  margin: 12px 31px 16px 31px;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
.container-five .grid .grid-one h2 {
  color: var(--text-color);
  width: 80%;
  height: 40px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
  margin: 42px 24px 48px 24px;
}
.container-five .grid .grid-one button {
  width: 60%;
  height: 42px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: normal;
  background-color: var(--text-color);
  color: white;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  margin: 48px 83px 39px 18%;
  text-align: center;
}
.container-five .grid .grid-one button:hover {
  background-color: var(--bgColor-one);
}
.container-five .grid .grid-one .div,
.container-five .grid .grid-two .parags {
  display: grid;
  grid-row-gap: 12px;
  width: 60%;
  height: 24px;
  margin: 24px 38px 12px 67px;
  font-size: 15px;
  color: var(--text-color);
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  font-weight: 600;
}
.container-five .grid .grid-one .div .check,
.container-five .grid .grid-two .parags {
  color: #4acd86;
}

.container-five .grid .grid-one .div i {
  font-size: 19px;
}
.container-five .grid .grid-two .btn p {
  width: 40px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 600;
  color: white;

  /* transform: translateX(490%) translateY(-22px); */
  height: 40px;
  background-color: #4acd86;
  border-radius: 50px;
  position: absolute;
  right: 18%;
  transform: translateY(-22px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-five .grid .grid-two .btn .button {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: #e5e5e9;
  border-radius: 8px;
  margin: 25px 28px 42px 28px;
}
.container-five .grid .grid-two .btn .button input {
  opacity: 0;
}
.container-five .grid .grid-two .btn .button label {
  border-radius: 4px;
  color: #7c7c80;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  text-align: center;
  width: 150px;
  height: 36px;
  transition: 0.8s;
}

.container-five .grid .grid-two .btn .button div label:hover {
  background-color: #2bb4c0;
  width: 150px;
  height: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-five .grid .grid-two .h2 {
  width: 85%;
  color: var(--text-color);
  height: 40px;
  text-align: center;
  margin: 42px 24px 48px 24px;
}
.radionBtn {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  text-align: center;
}
.container-five .grid .grid-two .btn-btn {
  background-color: #e5322d;
  width: 65%;
  height: 42px;
  color: #161616;
  text-align: center;
  margin: 0px 82px 39px 18%;
  font-size: 18px;
  border-radius: 4px;
  background-color: #ffb400;
  border: none;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 6px 0px;
}

.container-five .grid .grid-two .btn-btn:hover {
  background-color: var(--bgColor-three);
}

.container-six {
  height: 100%;
  margin-top: 124px;
  background-color: #ffffff;
}

.container-six .parag {
  width: 60%;
  font-weight: 600;
  height: 40px;
  text-align: center;
  font-family: var(--font);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: normal;
  color: #383e45;
  margin: 98px 20%;
}
.container-six .icon-company {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% 25%;
  grid-column-gap: 3%;
  margin: 64px 30% 124px 10%;
}
.container-six .icon-company img {
  margin: 0 45px 50px 45px;
}
.container-six .icon-company a {
  text-decoration: none;
}
.container-six .icon-company a p {
  font-size: 15px;
  font-family: var(--font);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #161616;
  font-weight: 600;
}
@media all and (max-width:858px){
  .container-one .btn .btn-one{
    margin-left: 0;
  } 
}
@media all and (max-width: 480px) {
  .container-one,
  .container-two,
  .container-three,
  .container-four,
  .container-five,
  .container-six {
    margin: 0;
    padding: 40px 0;
  }
  .container-one h1,
  .container-two .h3 {
    width: 60%;
    font-size: 18px;
    margin: 0 20%;
  }
  .container-one .btn {
    margin: 0 0 0 40px;
    width: 80%;
  }
  .container-one .btn .btn-one {
    margin: 20px 20px;
    font-size: 80%;
    height: 40px;
    width: 60%;
  }
  .container-one .btn .btn-two {
    width: 40px;
    height: 40px;
    font-size: 18px;
    transform: translateX(-25px) translateY(2.5px);
  }
  .btn-toggle {
    margin: 0;
    width: 45%;
    transform: translateX(68px) translateY(-20px);
  }
  .container-one .parag {
    width: 60%;
    height: 24px;
    font-size: 10px;
    margin: 0 20%;
    text-align: center;
  }
  .container-one .image {
    width: 80%;
    margin: 10% 40px 0;
  }
  .container-one .image img {
    width: 90%;
    margin: 0 20px;
  }
  .container-one .h3 {
    width: 60%;
    font-size: 18px;
    margin: 0 20%;
  }
  .container-one .parag-one {
    width: 60%;
    font-size: 12px;
    margin: 0 20% 50px;
  }
  .container-two .grid {
    width: 60%;
    height: 880px;
    padding: 40px 0;
    display: block;
    margin: 60px 20% 0 20%;
  }
  .container-two .grid div {
    padding: 10px 0;
    width: 100%;
    height: 250px;
  }
  .container-two .grid div img{
    margin:0 40%;
  }
  .container-two .grid div h5{
    margin:0 15% ;
  }
  .container-two .grid div p{
    margin:20px 0;
  }
  .container-three {
    display: block;
  }
  .container-three .parag {
    margin: 0 20%;
    height: 280px;
  }
  .container-three .parag p {
    font-size: 18px;
    width: 80%;
    padding: 10px;
    margin: 20px 0;
  }

  .container-three div:nth-child(2) img{
    width: 60%;
    margin: 40px 20%;
  }
  .container-four .h3 {
    font-size: 18px;
    margin: 0 20%;
    width: 60%;
  }
  .container-four .grid {
    display: block;
    width: 80%;
    margin: 0 10%;
    /* height: 1000px; */
  }
  
  .container-four .grid div h3 {
    font-size: 15px;
    margin: 40px 0 10px 40px;
  }
  .container-four .grid div p {
    font-size: 12px;
  }
  .container-five h3 {
    width: 60%;
    font-size: 18px;
    margin: 0 20%;
  }
  .container-five .main {
    font-size: 12px;
    margin: 0 20% 40px;
    width: 60%;
  }
  .container-five .grid {
    display: block;
    height: 1200px;
    width: 90%;
    margin: 0 5%;
  }
  .container-five .grid .grid-one {
    width: 70%;
    margin: 10px 15%;
    height: 550px;
  }
  .container-five .grid .grid-two {
    width: 70%;
    margin: 10px 15%;
    height: 550px;
  }
  .container-six .parag{
    width: 60%;
    margin: 0 20%; 
    font-size: 18px;
  }
  .container-six .icon-company{
    display: block;
    width: 40%;
    margin: 40px 30%;
    
  }
  .container-six .icon-company a p{ 
     margin: 0;
     text-align: center;
     width: 150px;
   }
}
@media all and (min-width:481px) and (max-width:768px){
  .container-one,
  .container-two,
  .container-three,
  .container-four,
  .container-five,
  .container-six {
    margin: 0;
    padding: 40px 0;
  }
  .container-one h1,
  .container-two .h3 {
    width: 60%;
    font-size: 28px;
    margin: 30px 20%;
  }
  .container-one .btn {
    margin: 0 10%;
    width: 60%;
  }
  .container-one .btn .btn-one {
    margin: 20px 18% 20px 18% ;
  }
  .container-one .btn .btn-two {
    transform: translateX(340px) translateY(-68px);
  }
  .btn-toggle {
    margin: 0;
    transform: translateX(153px) translateY(-65px);
  }
  .container-one .parag {
    width: 60%;
    margin: 0 20%;
    height: 24px;
    font-size: 15px;
    text-align: center;
  }
  .container-one .image {
    width: 80%;
    margin: 8% 60px;
  }
  .container-one .image img {
    width: 95%;
    margin: 0 20px;
  }
  .container-one .h3 {
    width: 60%;
    font-size: 28px;
    margin: 0 20%;
  }
  .container-one .parag-one {
    width: 60%;
    height: 150px;
    font-size: 18px;
    margin: 0 20% 50px;
  }
  .container-two .grid {
    width: 60%;
    height: 100%;
    padding: 40px 0;
    display: block;
    margin: 60px 20%;
    grid-row-gap: 15%;
  }
  .container-two .grid div {
    padding: 10px 80px;
    width: 100%;
    height: 450px;
  }
  .container-three {
    display: block;
  }
  .container-three div:nth-child(2) img{
    width: 60%;
    margin: 0 15%;
  }
  .container-three .parag {
    width: 80%;
    background-color: #4acd86;
    margin: 30px 35px;
    height: 35%;
  }
  .container-three .parag p {
    font-size: 28px;
    width: 60%;
    padding: 10px;
    margin: 20px 50px;
  }
  .container-three .parag button {
    margin: 2% 16% 50px 16%;
    width: 60%;
    height: 60px;
    font-size: 25px;
  }
  .container-three div img {
    width: 60%;
    margin: 60px 0 60px  160px;
  }
  .container-four .h3 {
    font-size: 28px;
    margin: 0 20%;
    width: 60%;
  }
  .container-four .grid {
    display: block;
    width: 60%;
    margin: 0 20%;
  }
  
  .container-four .grid div h3 {
    font-size: 25px;
    margin: 40px 0 10px 40px;
  }
  .container-four .grid div p {
    font-size: 18px;
  }
  .container-five h3 {
    width: 60%;
    font-size: 28px;
    margin: 0 20%;
  }
  .container-five .main {
    font-size: 18px;
    margin: 5% 20%;
    width: 60%;
  }
  .container-five .grid {

    display: block;
    height: 1200px;
    width: 60%;
    margin: 0 20%;
  }
  .container-five .grid .grid-one {
    width: 80%;
    margin: 10px 0px 50px 10%;
    height: 550px;
  }
  .container-five .grid .grid-two {
    width: 80%;
    margin: 10px 0 500px 10%;
    height: 550px;
  }
  .container-five .grid .grid-two .btn p{
    right: 28%;
  }
  .container-six .parag{
    width: 60%;
    margin: 0 0 0 20%; 
    font-size: 28px;
  }
  .container-six .icon-company{
    display: block;
    width: 20%;
    margin: 40px 20% 0 40%;
    
  }
  .container-six .icon-company a p{ 
     margin: 0px 0px;
     text-align: center;
     width: 150px;
   }
}
