.storypage{
  padding: 146px 0px 120px;
}
.storypage .sheetone {
  width: 60%;
  margin-left: 20%;
  padding-bottom: 120px;
}
.storypage .sheetone h1 {
  font-size: 40px;
  color: #383e45;
  font-weight: 600;
}
.storypage .sheetone p {
  font-size: 22px;
  color: #383e45;
}
.storypage .sheettwo {
  width: 100%;
  height: 250px;
  background-color: #880104;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0 124px;
}
.storypage .sheettwo h2 {
  color: white;
  font-size: 30px;
  width: 60%;

  text-align: center;
  font-weight: 500;
}
.storypage .sheetthree {
  width: 80%;
  margin-left: 10%;
  padding: 96px 0 124px;
}
.storypage .sheetthree .teamstory {
  text-align: center;
  font-size: 30px;
  color: #383e45;
}
.storypage .sheetthree .infostory {
  width: 70%;
  margin-left: 15%;
  font-size: 22px;
  text-align: center;
  color: #383e45;
}
.storypage .teamimage {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.storypage .teamimage1{
  background-image: url("../../images/story/marco.png");
}
.storypage .teamimage2{
  background-image: url("../../images/story/aleix.png");
}
.storypage .teamimage3{
  background-image: url("../../images/story/anna.png");
}
.storypage .teamimage4{
  background-image: url("../../images/story/curial.png");
}
.storypage .teams{
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
}
.storypage .ourteam {
  width: 23%;
  display: inline-block;
  margin: 10px;
}
.storypage .imgteam {
  position: absolute;
  top: 75%;
  left: 75%;
  width: 52px;
  height: 52px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ff6a58;
  border-radius: 100%;
  -webkit-transform-origin: 50% -80px;
  transform-origin: 50% -80px;
  border: 4px solid #fff;
  transition: 0.5s;
}
.storypage .ourteam:hover .imgteam {
  top: 25%;
  left: 75%;
}
.storypage .nameteam {
  font-size: 22px;
  margin: 0px;
  margin-top: 15px;
  font-weight: 500;
}
.storypage .jobteam {
  color: #383e45;
  margin-top: 0px;
}
@media(max-width: 500px){
  .storypage .teams{display: block;}
  .storypage .ourteam{
    width: 60%;
    margin: auto;
  }
}
@media(min-width:501px) and (max-width:900px){
  .storypage .teams{display: block;}
  .storypage .ourteam{
    display: inline-block;
    width: 45%;
    margin: auto;
  }
}
